GymApp/ServiceProxy/Connected Services/UserServiceReference/Model_Layer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Model_Layer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model_Layer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="InternalInfoUser">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:User">
        <xs:sequence>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Last_Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InternalInfoUser" nillable="true" type="tns:InternalInfoUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="First_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location_Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Guid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ExternalInfoUser">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:User">
        <xs:sequence>
          <xs:element minOccurs="0" name="Account_Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="Last_Login" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExternalInfoUser" nillable="true" type="tns:ExternalInfoUser" />
  <xs:complexType name="ArrayOfExternalInfoUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExternalInfoUser" nillable="true" type="tns:ExternalInfoUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExternalInfoUser" nillable="true" type="tns:ArrayOfExternalInfoUser" />
</xs:schema>